
.radius {
    border-radius: 1em 1em 1em / 1em 1em;
}

.hr {
    background-color:#E4E7ED;height:1px;border:none;
}

.bc {
    background-color: #f4f4f4;
}

.slide-box {
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
}

.slide {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
